<div class="row" *ngFor="let ipLookup of ipLookups">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        ID {{ipLookup.id}}
      </div>
      <div class="card-block">
        <div class="card-title">
          <click-to-edit [value]="ipLookup.ip" [full]="true" (onSave)="this.updateIP($event, ipLookup)"><clr-icon shape="pencil"></clr-icon></click-to-edit>
        </div>
        <div class="card-text">
          <click-to-edit [value]="ipLookup.hostname" [full]="true" (onSave)="this.updateHostname($event, ipLookup)"><clr-icon shape="pencil"></clr-icon></click-to-edit>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="this.deleteIP(ipLookup)">Delete</button>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="basic = true">Create</button>
<clr-modal [(clrModalOpen)]="basic">
  <h3 class="modal-title">Create IP</h3>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" #ipForm="ngForm">
      <section class="form-block">
        <div class="form-group">
          <label>IP</label>
          <input type="text" class="form-control" id="ip"
                 [(ngModel)]="formIP.ip" name="ip"
                 required>
        </div>
        <div class="form-group">
          <label>Hostname</label>
          <input type="text" class="form-control" id="hostname"
                 [(ngModel)]="formIP.hostname" name="hostname"
                 required>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="basic = false; this.createIP(formIP); ipForm.reset()">Ok</button>
  </div>
</clr-modal>
