<div class="row" *ngFor="let user of users">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        ID {{user.id}}
      </div>
      <div class="card-block">
        <div class="card-title">
          <click-to-edit [value]="user.name" [full]="true" (onSave)="this.updateName($event, user)"><clr-icon shape="pencil"></clr-icon></click-to-edit>
        </div>
        <div class="card-text">
          <click-to-edit [value]="user.email" [full]="true" (onSave)="this.updateEmail($event, user)"><clr-icon shape="pencil"></clr-icon></click-to-edit>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="this.deleteUser(user)">Delete</button>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="basic = true">Create</button>
<clr-modal [(clrModalOpen)]="basic">
  <h3 class="modal-title">Create User</h3>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <section class="form-block">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" id="name"
                 [(ngModel)]="formUser.name" name="name"
                 required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" id="password"
                 [(ngModel)]="formUser.password" name="psw"
                 required>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" id="email"
                 [(ngModel)]="formUser.email" name="email"
                 required
                 email>
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <select class="form-control"  id="role"
                  required
                  [(ngModel)]="formUser.role" name="role">
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
          </select>
        </div>

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="basic = false; this.createUser(formUser); userForm.reset()">Ok</button>
  </div>
</clr-modal>





