<clr-main-container class="main-container">
  <clr-header class="header-6 header">

    <div class="branding">
      <a class="logo-and-title" routerlink="/" href="/">
        <span class="clr-icon clarity-logo"><clr-icon shape="lightbulb" class="is-solid"></clr-icon></span>
        <span class="title">{{title}}</span>
      </a>
    </div>
    <div class="divider"></div>
    <div class="header-nav clr-nav-level-1">
      <a class="nav-link" routerLink="user" routerLinkActive="active"><span class="nav-text"><clr-icon shape="user" size="30"></clr-icon></span></a>
      <a class="nav-link" routerLink="ip" routerlinkactive="active" ><span class="nav-text"><clr-icon shape="info-circle" size="30"></clr-icon></span></a>
    </div>
  </clr-header>

  <nav class="subnav">
  {{this.router.url.substr(1).toUpperCase()}}
  </nav>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

</clr-main-container>

